nutsnbolts/src/main/resources/dtd/org/smallmind/nutsnbolts/commands.dtd

<?xml version='1.0' encoding='us-ascii'?>

<!ELEMENT commands (optional|group|command)*>

<!ELEMENT optional (group|command)+>

<!ELEMENT group (command)+>

<!ELEMENT command (argument)*>
<!ATTLIST command
   name         CDATA     #REQUIRED
>

<!ELEMENT argument EMPTY>
<!ATTLIST argument
   value        CDATA     #REQUIRED
>